<header>
    <img @click="this.$router.push('/Main')" src="../../ui/images/logo.png" alt="">

    <nav :class="{collapsed:!openMenu, expanded:openMenu}">
        <router-link to="/Main" :class="{activeLink:path==='/Main'}">Главная</router-link>
        <router-link to="/Catalog" :class="{activeLink:path==='/Catalog'}">Каталог</router-link>
        <router-link to="/Contacts" :class="{activeLink:path==='/Contacts'}">Контакты</router-link>
        <router-link to="/Basket" :class="{activeLink:path==='/Basket'}">Корзина</router-link>
        <router-link to="/Profile" :class="{activeLink:path==='/Profile'}">Профиль</router-link>
    </nav>
    <svg class="burger-menu svg-stroke-white"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" @click="openMenu=true" v-if="!openMenu">
        <path d="M4 18L20 18"  stroke-width="2" stroke-linecap="round"/>
        <path d="M4 12L20 12" stroke-width="2" stroke-linecap="round"/>
        <path d="M4 6L20 6"  stroke-width="2" stroke-linecap="round"/>
    </svg>
    <svg class="burger-menu svg-stroke-white"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"  @click="openMenu=false" v-if="openMenu">
        <path d="M19 5L5 19M5.00001 5L19 19"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</header>
